# The Python Programming Language: Functions

In [1]:
x = 1
y = 2
x + y

3

In [2]:
x

1

Python interpreter is 'stateful' meaning it keeps tracks of variables between cells. So if you change a variable in one cell for testing, make sure you click 'Restart and Run All' to reset the state of the kernel.

In [4]:
def add_numbers(x, y):
    return x + y

add_numbers(1, 2)

6

Now make a function that takes 3 numbers and returns the sum. But we can make the third input optional by setting its default value to None, so function can also take 2 numbers. Optional parameters need to come at end of function definition

In [6]:
def add_numbers(x, y, z=None):
    if z == None:
        return x + y
    else:
        return x + y + z
    
print(add_numbers(1,2))
print(add_numbers(1,2,3))

3
6

In [7]:
def add_numbers(x, y, z=None, flag=False):
    if flag:
        print("Flag is true!")
    if z == None:
        return x + y
    else:
        return x + y + z
    
print(add_numbers(1,2, flag=True))

Flag is true!
3

# Types and Sequences

In [8]:
type("This is a string")

str

In [9]:
type(None)

NoneType

## Tuples ()
A tuple is a sequence of variables that are immutable. Items in an ordering and it cannot be changed. Can have mixed types in a tuple.

In [10]:
x = (1, 'a', 2, 'b')
type(x)

tuple

## List []
A list is mutable and you can change its values.

In [14]:
x = [1, 'a', 2, 'b']
type(x)

list

In [15]:
x.append(3.3)
print(x)

[1, 'a', 2, 'b', 3.3]

In [16]:
for item in x:
    print(item)

1
a
2
b
3.3

Lists and Tuples are iterable which indexing starting at 0.

In [18]:
i = 0
while i != len(x):
    print(x[i])
    i = i+1

1
a
2
b
3.3

In [19]:
[1,2] + [3,4]

[1, 2, 3, 4]

In [20]:
[1]*3

[1, 1, 1]

In [21]:
1 in [1,2,3]

True

### Slicing: to manipulate strings
[start_position:end_position]
if you omit on of the positions, then you get everything up until end or from the start to the end

In [22]:
x = "This is a string"
print(x[0])
print(x[0:1])
print(x[0:2])

T
T
Th

Negative indexing allows you to work at the end of the string.

In [23]:
x[-1]

'g'

Fourth last to second last positions

In [24]:
x[-4:-2]

'ri'

In [25]:
x[:3]

'Thi'

In [26]:
x[3:]

's is a string'

In [28]:
firstname="Stephanie"
lastname = "Hoglund"
print(firstname + ' ' + lastname)
print(firstname * 3)
print("Steph" in firstname)

Stephanie Hoglund
StephanieStephanieStephanie
True

In [29]:
firstname = "Stephanie Christine Hoglund".split()[0]
lastname = "Stephanie Christine Hoglund".split()[-1]
print(firstname)
print(lastname)

Stephanie
Hoglund

## Dictionaries {}
Hold collection of items, but labeled collections with no ordering. Need key to extract a value.

In [30]:
x={"Christopher Brooks": "brooksch@umich.edu", "Bill Gates": "billg@microsoft.com"}
x["Christopher Brooks"]

'brooksch@umich.edu'

In [31]:
x["Stephanie Hoglund"] = None
x["Stephanie Hoglund"]

In [32]:
for name in x:
    print(x[name])

brooksch@umich.edu
billg@microsoft.com
None

In [34]:
for email in x.values():
    print(email)

brooksch@umich.edu
billg@microsoft.com
None

In [33]:
for name, email in x.items():
    print(name)
    print(email)

Christopher Brooks
brooksch@umich.edu
Bill Gates
billg@microsoft.com
Stephanie Hoglund
None

Unpacking
split out a list or tuple into own variables through assignment

In [35]:
x= ("Stephanie", "Hoglund", "shoglund@umich.edu")
fname, lname, email = x

In [36]:
fname

'Stephanie'

In [37]:
lname

'Hoglund'

In [38]:
x= ("Stephanie", "Hoglund", "shoglund@umich.edu", "Ann Arbor")
fname, lname, email = x

ValueError: too many values to unpack (expected 3)

# More on Strings

In [39]:
print("Stephanie" + 2)

TypeError: can only concatenate str (not "int") to str

In [40]:
print("Stephanie" + str(2))

Stephanie2

Annoying to use str() around a value, so use `str.format()` to insert value of variable into your print function or use `f` strings

In [42]:
sales_record = {"price": 3.24,
                "num_items": 4,
                'person': 'Steph'}

sales_statement = '{} bought {} item(s) at a price of {} each for a total of {}'

print(sales_statement.format(sales_record['person'],
                             sales_record['num_items'],
                             sales_record['price'],
                             sales_record['num_items']*sales_record['price']))

Steph bought 4 item(s) at a price of 3.24 each for a total of 12.96

In [44]:
print(f"{sales_record['person']} bought {sales_record['num_items']} at a price of {sales_record['price']} each for a total of {sales_record['price']*sales_record['num_items']}")

Steph bought 4 at a price of 3.24 each for a total of 12.96

# Reading and Writing CSV Files
`csv.DictReader()` has the column names as keys. Each records is stored as its own dictionary. DictReader returns a list of dictionaries.

In [56]:
import csv

%precision 2

with open('datasets/mpg.csv') as csvfile:
    mpg = list(csv.DictReader(csvfile))
    
mpg[:3]

[{'': '1',
  'manufacturer': 'audi',
  'model': 'a4',
  'displ': '1.8',
  'year': '1999',
  'cyl': '4',
  'trans': 'auto(l5)',
  'drv': 'f',
  'cty': '18',
  'hwy': '29',
  'fl': 'p',
  'class': 'compact'},
 {'': '2',
  'manufacturer': 'audi',
  'model': 'a4',
  'displ': '1.8',
  'year': '1999',
  'cyl': '4',
  'trans': 'manual(m5)',
  'drv': 'f',
  'cty': '21',
  'hwy': '29',
  'fl': 'p',
  'class': 'compact'},
 {'': '3',
  'manufacturer': 'audi',
  'model': 'a4',
  'displ': '2',
  'year': '2008',
  'cyl': '4',
  'trans': 'manual(m6)',
  'drv': 'f',
  'cty': '20',
  'hwy': '31',
  'fl': 'p',
  'class': 'compact'}]

In [50]:
len(mpg)

234

Column names:

In [51]:
mpg[0].keys()

dict_keys(['', 'manufacturer', 'model', 'displ', 'year', 'cyl', 'trans', 'drv', 'cty', 'hwy', 'fl', 'class'])

Find the average City mpg across all cars. All values are read in as `str` so need `float()` to convert to numeric float to do math.

In [57]:
sum(float(d['cty']) for d in mpg) / len(mpg)

16.86

In [58]:
sum(float(d['hwy']) for d in mpg) / len(mpg)

23.44

What's average city mpg grouped by car cylinder?

In [59]:
cylinders = set(d['cyl'] for d in mpg)
cylinders

{'4', '5', '6', '8'}

In [61]:
CtyMpgByCyl = [] # store calculations

# iterate through each cylinder type
for c in cylinders:
    summpg = 0
    # iterate through each dictionary for that cylinder
    cyltypecount = 0
    for d in mpg:
        if d['cyl'] == c:
            summpg += float(d['cty'])
            cyltypecount += 1
    CtyMpgByCyl.append((c, summpg/cyltypecount))

CtyMpgByCyl.sort(key=lambda x: x[0])
CtyMpgByCyl

[('4', 21.01), ('5', 20.50), ('6', 16.22), ('8', 12.57)]

The City fuel economy level decreases as you increase the number of cylinders.

Find average Highway MPG for different vehicle classes.

In [65]:
vehicleClass = set(d['class'] for d in mpg)
vehicleClass

{'2seater', 'compact', 'midsize', 'minivan', 'pickup', 'subcompact', 'suv'}

In [67]:
HwyMpgByClass = []

# iterate through all vehicle classes
for t in vehicleClass:
    summpg = 0
    vclasscount = 0
    for d in mpg:
        if d['class'] == t:
            summpg += float(d['hwy'])
            vclasscount += 1
    HwyMpgByClass.append((t, summpg/vclasscount)) # perform average calculation and add to list
    
HwyMpgByClass.sort(key = lambda x: x[1], reverse=True)
HwyMpgByClass

[('compact', 28.30),
 ('subcompact', 28.14),
 ('midsize', 27.29),
 ('2seater', 24.80),
 ('minivan', 22.36),
 ('suv', 18.13),
 ('pickup', 16.88)]

Pickup has the worst highway fuel economy and the compact has the best.

This may have been an inefficient way of calculating averages by groups because we have not explored Pandas and NumPy libraries yet.

# Python Dates and Times
Jan 1, 1970 = systems use this as the baseline for dates

In [68]:
import datetime as dt
import time as tm

In [69]:
tm.time()

1686511360.34

In [71]:
dtnow = dt.datetime.fromtimestamp(tm.time())
dtnow

datetime.datetime(2023, 6, 11, 19, 23, 8, 500731)

In [72]:
dtnow.year, dtnow.month, dtnow.day, dtnow.hour, dtnow.minute, dtnow.second

(2023, 6, 11, 19, 23, 8)

Time Difference

In [73]:
delta = dt.timedelta(days = 100)
delta

datetime.timedelta(days=100)

In [74]:
today = dt.date.today()

In [75]:
today-delta

datetime.date(2023, 3, 3)

In [76]:
today > today-delta

True

# Advanced Python: Objects and map()

## Classes

In [78]:
class Person:
    department = "College of Engineering" # default
    
    def set_name(self, new_name):
        self.name = new_name
    def set_location(self, new_location):
        self.location = new_location

In [80]:
person = Person()
person.set_name("Stephanie Hoglund")
person.set_location("Ann Arbor, MI, USA")
print(f"{person.name} lives in {person.location} and works in the department {person.department}")

Stephanie Hoglund lives in Ann Arbor, MI, USA and works in the department College of Engineering

## map()
Functional programming where you explicitly define all parameters that can change through execution. Referred to as 'side-effect-free.' Allows you to chain functions together.
`map(function, iterable, ...)`: returns an iterator that applies `function` to every item in `iterable`, yielding the results.

Find which store has the cheapest price for each of the 4 items.

In [81]:
store1 = [10.00, 11.00, 12.34, 2.34]
store2 = [9.00, 11.10, 12.34, 2.01]
cheapest = map(min, store1, store2)
cheapest

In [82]:
people = ["Dr. Christopher Brooks", "Dr. Kevyn Collins-Thompson", "Dr. VG Vinod Vydiswaran", "Dr. Daniel Romero"]

def split_title_and_name(person):
    return f"{person.split()[0]} {person.split()[-1]}"

list(map(split_title_and_name, people))

['Dr. Brooks', 'Dr. Collins-Thompson', 'Dr. Vydiswaran', 'Dr. Romero']

# Lambda and List Comprehensions
## Lambda
returns a function reference; limited to single expression so can't have anything too complex; useful for simple data cleaning

In [83]:
my_function = lambda a, b, c: a + b

In [84]:
my_function(1,2,3)

3

In [88]:
people = ["Dr. Christopher Brooks", "Dr. Kevyn Collins-Thompson", "Dr. VG Vinod Vydiswaran", "Dr. Daniel Romero"]

def split_title_and_name(person):
    return person.split()[0] + " " + person.split()[-1]

# option 1
for person in people:
    print(split_title_and_name(person) == (lambda x: x.split()[0] + " " + x.split()[-1])(person))
    
# option 2
list(map(split_title_and_name, people)) == list(map(lambda person: person.split()[0] + " " + person.split()[-1], people))

True
True
True
True

True

## List Comprehension
put function in one line instead of intializing an empty list and then doing `for` loop

Old Way:

In [91]:
my_list = []
for number in range(0,100):
    if number % 2 == 0: # an even number
        my_list.append(number)
        
my_list

[0,
 2,
 4,
 6,
 8,
 10,
 12,
 14,
 16,
 18,
 20,
 22,
 24,
 26,
 28,
 30,
 32,
 34,
 36,
 38,
 40,
 42,
 44,
 46,
 48,
 50,
 52,
 54,
 56,
 58,
 60,
 62,
 64,
 66,
 68,
 70,
 72,
 74,
 76,
 78,
 80,
 82,
 84,
 86,
 88,
 90,
 92,
 94,
 96,
 98]

In [92]:
# New Way
my_list = [number for number in range(0,100) if number % 2 == 0]
my_list

[0,
 2,
 4,
 6,
 8,
 10,
 12,
 14,
 16,
 18,
 20,
 22,
 24,
 26,
 28,
 30,
 32,
 34,
 36,
 38,
 40,
 42,
 44,
 46,
 48,
 50,
 52,
 54,
 56,
 58,
 60,
 62,
 64,
 66,
 68,
 70,
 72,
 74,
 76,
 78,
 80,
 82,
 84,
 86,
 88,
 90,
 92,
 94,
 96,
 98]

In [99]:
lowercase = "abcdefghijklmnopqrstuvwxyz"
digits = '0123456789'

answer = [letter1 + letter2 + num1 + num2 for letter1 in lowercase for letter2 in lowercase for num1 in digits for num2 in digits]
answer[:5]

['aa00', 'aa01', 'aa02', 'aa03', 'aa04']

In [102]:
# Their solution
def times_tables():
    lst = []
    for i in range(10):
        for j in range(10):
            lst.append(i*j)
    return lst

times_tables() == [j*i for i in range(10) for j in range(10)]

True